@model DoAnCoThanh.Models.TinTuc

@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
    

}
<head>
    <a href="/Home/Index">Trang chủ</a>
    <a href="/TinTucs/Index"> > Tin Tức</a>
</head>
<body>
    <div>


    </div>
</body>
<h1>@ViewBag.TinTucs.TenTinTuc</h1>




